

 


ul {
    position: fixed;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow:hidden;
    background-color: #333;
      }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 9px 12px;
    text-decoration: none;
  }
  li a.active{
  background-color:green;
  }
  
  li a:hover {
    background-color: #111;
  }
  



h1{
    padding: 0 0 0 26%;
    
}

div{
    background-color: rgb(105, 203, 241);
    padding: 6% 1% 0 1%;
    
}
div.para{
    margin: 0 4% 0 0;
}



button:hover{
    background-color: rgba(9, 216, 243, 0.459);
}


div.gallery {
    margin: 2%;
    border: 1px solid  rgb(105, 203, 241);
    float: left;
    width: 18%;
  }
  
  div.gallery:hover {
    border: 1px solid #777;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
    border-radius: 25px;
  }
  
  div.desc {
    padding: 12px;
    text-align: center;
  }

  #image{
      margin-bottom: 2%;
    width : 26%;
    height: 1%;
    float: right;
    border-radius: 25px;
      
    
  }
  p.para{
      margin-bottom: 2%;
  }